.high-priority {
  color: rgb(211, 18, 18); /* red bold or animation conveys importance */
}

.med-priority {
  color: rgb(221, 160, 17); /* orange or yellow conveys medium */
  -webkit-text-stroke-width: .1px;
            -webkit-text-stroke-color: black;
}

li {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space out items evenly */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li span {
  margin-right: 10px; /*  Add some space between spans */
}

li .task-text {
  flex: 2; /* Adjust  */
  min-width: 110px;
  font-size: 20px;
  line-height: 20px;
}

li .completion-status,
li .priority,
li .due-date,
li .actions {
  flex: 1;
  text-align: center; /* Center text if needed */
}

/* li .completion-status, */
/* li .priority, */
li .due-date {
  padding: 2px 20px; /* Uniform padding */
  margin-right: 55px;
  display: inline;
}

li .completion-status {
  padding-right: 10px;
  transform: translateX(-10px);
}

li .priority {
  padding: 2px 70px;
}

li .actions {
  display: flex;
  gap: 28px; /* Space between buttons */
}

li button {
  width: 85px;
  color: rgb(30, 64, 238);
}
/* In/Complete button styling is inline */