ul {
  list-style: none;
  margin: auto;
  padding-left: 3%;
  align-items: center;
  place-content: center;
  width: 100%;
}

li {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap for smaller screens */
  justify-content: space-between;
  align-items: center;
  color: rgb(21, 21, 109);
  background: #e0e0e0;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #706969;
  border-radius: 10px;
  width: 90%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

li button {
  background: #e80d23;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  flex-shrink: 0; /* Prevent buttons from shrinking */
}

li button:hover {
  background: #72262e;
}

/* Media Queries for Better Responsiveness */
@media (max-width: 768px) {


  li .task-text, 
  li .completion-status, 
  li .priority {
    flex: 1 1 auto; 
    
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0; 
  }

  li span,
  li button {
    width: 100%; /* Make each span and button take full width */
    text-align: center;
    align-self: center;
  }

  li .actions {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    width: 100%;
  }
}
