.high-priority {
  color: rgb(211, 18, 18); /* red bold or animation conveys importance */
}

.med-priority {
  color: rgb(221, 136, 17); /* orange or yellow conveys medium */
}

li {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space out items evenly */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li span {
  margin-right: 10px; /*  Add some space between spans */
}

li .task-text {
  flex: 2; /* Adjust  */
  min-width: 150px; 
}

li .completion-status,
li .priority,
li .due-date,
li .actions {
  flex: 1;
  text-align: center; /* Center text if needed */
}

/* li .completion-status, */
/* li .priority, */
li .due-date {
  padding: 2px 20px; /* Uniform padding */
  margin-right: 5px;
}

li .completion-status {
  padding-right: 10px;
  transform: translateX(-50px);
}

li .priority {
  padding: 2px 70px;
}

li .actions {
  display: flex;
  gap: 28px; /* Space between buttons */
}
