.high-priority {
    color: rgb(211, 18, 18); /*red bold or animation conveys importance */
  }

.med-priority {
  color: rgb(221, 160, 17); /*orange or yellow conveys medium */
}

li {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space out items evenly */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li span {
  margin-right: 10px; /* Optional: Add some space between spans */
}

/* Ensure specific spans are given enough width */
li .task-text {
  flex: 2; /* Adjust flex values based on your layout needs */
}

li .completion-status,
li .priority,
li .due-date,
li .actions {
  flex: 1;
  text-align: center; /* Center text if needed */
}
